/*variables*/
body {
  background-color: #ecf0f1;
}
.containerTitle {
  text-align: center ;
  width: 80% ;
  margin: auto ;
  margin-top: 70px ;
}
.containerTitle .title {
  font-family: sans-serif;
  font-size: 40px ;
  font-weight: bold ;
  color: red ;
}
.containerTitle .textTitle {
  font-family: sans-serif;
  font-size: 17px ;
  font-weight: normal ;
  color: grey ;
}
.containerPrincipal {
  width: 90% ;
  margin: auto ;
  margin-top: 70px ;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
.containerPrincipal .imgArsenal {
  grid-column: 1;
  width: 100% ;
  border-radius: 10px ;
}
.containerPrincipal .containerButtons {
  grid-column: 2 ;
  background-color: white ;
  border-radius: 10px;
}
.containerPrincipal .containerButtons .btnDom {
  border: none;
  width: 33.5%;
  height: 50px;
  background-color: #d5d8dc;
  font-family: sans-serif;
  font-size: 20px ;
  font-weight: normal ;
  color: black ;
  margin-right: -5px;
}
.containerPrincipal .containerButtons .btnDom:hover {
  background-color: #ebf5fb;
  color: #3498db;
}
.containerPrincipal .containerButtons #btnAbout1 {
  background-color: transparent;
  border-radius: 5px 0px 0px 0px;
}
.containerPrincipal .containerButtons #btnAbout3 {
  border-radius: 0px 5px 0px 0px;
}
.containerPrincipal .containerButtons .subtitle {
  font-family: sans-serif;
  font-size: 20px ;
  font-weight: bold ;
  color: black ;
  width: 85%;
  margin: auto;
  margin-top: 20px;
}
.containerPrincipal .containerButtons .textInfo {
  font-family: sans-serif;
  font-size: 17px ;
  font-weight: normal ;
  color: black ;
  width: 85% ;
  margin: auto ;
  margin-top: 10px;
}
@media screen and (min-width: 575px) and (max-width: 990px) {
  .containerPrincipal {
    width: 99% ;
    margin: auto ;
    margin-top: 70px ;
    grid-gap: 10px;
  }
  .containerButtons {
    height: 350px ;
  }
  .imgArsenal {
    height: 350px ;
  }
}
@media screen and (max-width: 575px) and (orientation: portrait) {
  .containerTitle {
    width: 98% ;
    margin-top: 40px ;
  }
  .containerPrincipal {
    display: block;
    margin-top: 40px ;
  }
  .containerButtons {
    margin-top: 10px ;
    height: 300px ;
  }
}
